spring:
  application:
    name: task

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: spring-boot-security-jwt-tutorial-secret-maker-super-secret
  access-token-expiration: 3600000      # 1시간 (ms)
  refresh-token-expiration: 1209600000  # 14일 (ms)


ai:
  server:
    url: https://generativelanguage.googleapis.com

resilience4j:
  circuitbreaker:
    instances:
      openAiApi:
        sliding-window-type: COUNT_BASED
        sliding-window-size: 10
        minimum-number-of-calls: 5
        failure-rate-threshold: 30
        wait-duration-in-open-state: 30s
        permitted-number-of-calls-in-half-open-state: 2
        automatic-transition-from-open-to-half-open-enabled: true
        record-exceptions:
          - java.io.IOException